
// syntax - // for notes, Variable followed by semi colon (;) needed

/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)

//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allerta&family=Dancing+Script:wght@400;500&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Lobster&family=Pacifico&display=swap);

// Colors
$light-sage-green: #6f9990;
$dark-sage-green: #2f4945;
$light-cream: #F2F6F8;
$cream: #e3ebef;
$gray: #5d889e;
$dark-gray: #3C5967;
$darkest-gray: #182D39;
$light-gray: #aabdc1;
$bright-blue: #3B7491;
$black: #000000;
$rose-tope: #93464c;
$burnt-orange: #6b0c22;
$purple: #DDDEF4;
$lime: #A1A527;


// Base document colors
$navbar-bg:  #182D39;
$navbar-fg: $light-cream; 
$navbar-hl: $gray;
$body-bg: $light-cream;
$body-color:  #182D39;
$footer-bg:  $gray; 
$footer-fg: $light-cream; 
$link-color: #182D39;

$content-padding-top: 3em;


/*-- scss:rules --*/

/* ELEMENT SELECTORS */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
  font-weight: 500;
  color:  #182D39;
}

h3, h4 {
  //text-transform: uppercase;
}
 
h1 {
  text-align: center; // making title on pages centered

}

body {
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 18px;
  
}


/* CLASS SELECTORS (self-defined) */
 
.navbar {
  font-family: Dancing Script;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 0.2em;
}
 
.navbar-brand img { // see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
  max-height: 80px;
  width: auto;
}

.footer {
  font-family: 'Dancing Script';
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
}

.custom-subheader {
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 36px; 
  color: $gray;
  font-family: 'Dancing Script'; 
}

.custom-icon {
  font-size: 24px; 
  color: #182D39;
}

.large-gray-text {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 24px; 
  color:  #182D39;
  //text-transform: uppercase;
  font-family: Lato;

}

.large-gray-text-1 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 24px; 
  color:  #182D39;
  //text-transform: uppercase;
  font-family: Lato;

}

.large-text-light {
  letter-spacing: 3px;
  font-weight: 500;
  color:  $cream;
 // text-transform: uppercase;
}

.clickable-image {
  margin-bottom: 15px;
  z-index: 4; 
  transition: transform 0.2s; 
}

.large-text {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 36px; 
  color:  #182D39;
 // text-transform: uppercase;
}

 /* Removes underlines on links */
a:link {
      text-decoration: none;
}

/* mouse over link */
a:hover {
  color: $lime;
}


// largest-sized text (used for stat box numbers on landing page)
.large-stat-num { 
  font-size: 50px;
}

// see https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-css
.lime-underline { 
  text-decoration: underline $lime;
  text-underline-offset: 10px; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset
  text-decoration-thickness: 4px;
}

// see https://stackoverflow.com/questions/1734618/how-to-increase-the-gap-between-text-and-underlining-in-css
.gray-underline { 
  text-decoration: underline $gray;
  text-underline-offset: 10px; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset
  text-decoration-thickness: 4px;
}
 
// used to create white div 
.white-div { 
  background-color: $cream;
  max-width: 100%;
  height: auto;
  width: auto;
  padding-top: 1%; // percentages necessary for content to adjust with viewport
  padding-bottom: 1%;
  padding-right: 10%; 
  padding-left: 10%; 
}

// used to create light gray div on landing page
.light-gray-div { 
  background-color: $gray;
  max-width: 100%;
  height: auto;
  width: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%; 
  padding-left: 10%; 
}

// used to create light gray div on landing page
.lime-div { 
  background-color: $lime;
  max-width: 100%;
  height: auto;
  width: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%; 
  padding-left: 10%; 
}


// center text
.center-text { 
  text-align: center;
}

// lime text
.lime-text { 
  color: $lime;
}
 
// cream text
.cream-text { 
  color: $cream;
}
 
// medium/small-sized text
.med-sm-body-text { 
  font-size: 20px;
}

// used to create stat boxes on landing page
.stat-box { 
  width: 85%;
  background-color: $cream;
  border: 6px solid $lime;
  padding: 5%;
  margin: 8%;
  border-radius: 100px; // for rounded corners
}





